.comment__div_dropdown {
    margin-bottom: 10px;
}

.comment__div_dropdown span {
    font-weight: 600;
}
.comment__div_dropdown span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment__ul_decoration {
    padding-left: 10px;
    border-left: 1px solid black;
}
